{% load static %}

<div id="zone-map" class="map-container">
  <div id="emissions-factor-stats">
        <div class="dropdown-container">
            <label for="map-dropdown-region-select" class="control-label h5 input-label dropdown-region-select-label">Zone wählen</label>
            <select id="map-dropdown-region-select" class="form-select" style="margin-bottom: 4px;" aria-label="Region wählen">
            <option style="padding: 0px;" selected disabled value="---"></option>
            <option style="padding: 0px;" value="nord">Nord</option>
            <option style="padding: 0px;" value="sued">Süd</option>
            </select>
        </div>
  </div>
  <div id="emissions-factor-nord" class="hidden">
    <h3>Emissionsintensität:</h3>
    <h3><span id="emissions-intensity-value-nord">--</span> kgCO₂/MWh</h3>
  </div>
  <div id="emissions-factor-sued" class="hidden">
    <h3>Emissionsintensität:</h3>
    <h3><span id="emissions-intensity-value-sued">--</span> kgCO₂/MWh</h3>
  </div>
  <img class="map map-base fade-in-image img-fluid" id="zone_map_inactive" style="z-index: 100;" src="{% static 'inactive.png' %}" alt="Emissionszonen Deutschland" />
  <img class="map map-selected hidden img-fluid" id="zone_map_nord" style="z-index: 200;" src="{% static 'nord.png' %}" alt="Emissionszonen Deutschland" />
  <img class="map map-selected hidden img-fluid" id="zone_map_sued" style="z-index: 300;" src="{% static 'sued.png' %}" alt="Emissionszonen Deutschland" />
</div>
