/* Bootstrap */

body {
  font-family: "Source Sans 3";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-brand,
.navbar-brand {
  font-family: "Roboto Slab";
}

h3 {
  font-size: 1.35rem;
}

footer {
  color: #000;
  font-size: large;
  font-weight: 400;
}

.btn {
  font-weight: 600;
}

.btn-primary {
  --bs-btn-active-bg: #c7017f;
  --bs-btn-active-border-color: #c7017f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: #c7017f;
  --bs-btn-border-color: #c7017f;
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #c7017f;
  --bs-btn-hover-border-color: #c7017f;
  --bs-btn-hover-color: #fff;
  --bs-btn-disabled-bg: #c7017f;
  --bs-btn-disabled-border-color: #c7017f;
  --bs-btn-disabled-color: #fff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
}

.btn-secondary {
  --bs-btn-active-bg: #918a8f;
  --bs-btn-active-border-color: #918a8f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-bg: #918a8f;
  --bs-btn-border-color: #918a8f;
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #918a8f;
  --bs-btn-hover-border-color: #918a8f;
  --bs-btn-hover-color: #fff;
  --bs-btn-disabled-bg: #918a8f;
  --bs-btn-disabled-border-color: #918a8f;
  --bs-btn-disabled-color: #fff;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
}

.footer-brand {
  color: #000;
  text-decoration-color: #c7017f;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.form-select:focus {
	border-color: #f4cce5;
	box-shadow: 0 0 0 .25rem #f4cce5;
}

.input-label {
  font-size: 1.15rem;
  margin-bottom: auto;
  text-decoration-color: #c7017f;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.navbar {
  background-color: #f4cce5 !important;
}

.navbar-brand {
  font-size: x-large;
  font-weight: 400;
  text-decoration-color: #c7017f;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.nav-link {
  color: #000;
  font-size: 1.18rem;
  padding-top: 0px;
}

@media (min-width: 768px) {
  .nav-link {
    padding-top: 17px;
  }
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #c7017f;
  text-decoration-thickness: 2px;
}

/* Highcharts */

.highcharts-loading {
  height: 100% !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
}

/* Custom */

.chart {
  height: 500px;
}

#emissions-factor-stats {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.map {
  max-width: 700px;
}

.map-base {
  position: relative;
  top: 0;
  left: 0;
}

.map-selected {
  position: absolute;
  top: 0;
  left: 0;
}

.map-container {
  position: relative;
  top: 0;
  left: 0;
}

.hidden {
  opacity: 0%;
}

.fade-in-image {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out-image {
  animation: fadeOut 1s;
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -ms-animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.dropdown-region-select-label {
  font-size: 1.7rem;
}

.dropdown-container {
  width: 150px;
}

#emissions-factor-nord {
  position: absolute;
  top: 28%;
  left: 300px;
  z-index: 999;
}

#emissions-factor-sued {
  color: white;
  position: absolute;
  top: 68%;
  left: 235px;
  z-index: 999;
}
