{% extends "_iframe.html" %}

{% block content %}
{% if chart_id == "timeseries-emission-intensity-zonal" %}
  <label for="chart-dropdown-region-select" class="control-label h5 input-label">Zone wählen</label>
  <select id="chart-dropdown-region-select" class="form-select" style="max-width: fit-content; margin-bottom: 4px;" aria-label="Region wählen">
    <option value="north">Nord</option>
    <option value="south">Süd</option>
    {% for region in regions_dena %}
    <option value="{{ region }}">dena {{ region }}</option>
    {% endfor %}
  </select>
  {% include "snippets/chart.html" with id="timeseries-emission-intensity-zonal" %}
{% else %}
  {% include "snippets/chart.html" with id=chart_id %}
{% endif %}
{% endblock %}
