{% extends "_base.html" %}

{% block content %}
<div class="col-lg-8 px-0">
  <h1>ECO zone – Energiesteuerung und Emissionsreduktion durch zonale Analysen</h1>
  <p class="fs-5">Das Projekt „ECO zone – Energiesteuerung und Emissionsreduktion durch zonale Analysen“ entwickelt ein CO2-Emissionsmodell für das deutsche Stromnetz. Ziel ist es, durch präzise Erfassung lokaler Emissionsdaten eine zeitliche und räumliche Verschiebung von Lasten zu ermöglichen und so die Abregelung erneuerbarer Energien im Redispatch zu minimieren. Die in diesem Zusammenhang entwickelte Webanwendung unterstützt eine intelligentere und umweltfreundlichere Energieverteilung in ganz Deutschland.</p>
</div>
<p>Wählen Sie die Zone aus, für die Sie Emissionsfaktoren abrufen möchten. Nutzen Sie diese Faktoren, um umweltfreundliche Lastverschiebungen in Ihrem Stromverbrauch vorzunehmen. Erfahren Sie <a href="{% url 'recommendations' %}">hier</a>, wie Sie die Emissionsdaten in Ihrer Anwendung einsetzen können.</p>
</p>
{% include "snippets/zone_map.html" %}
{% include "snippets/divider.html" %}
<h2>Emissionsintensität zonal</h2>
<div class="dropdown-container">
  <label for="chart-dropdown-region-select" class="control-label h5 input-label dropdown-region-select-label">Zone wählen</label>
  <select id="chart-dropdown-region-select" class="form-select" style="margin-bottom: 4px;" aria-label="Region wählen">
    <option value="north">Nord</option>
    <option value="south">Süd</option>
  </select>
</div>
{% include "snippets/chart.html" with id="timeseries-emission-intensity-zonal" %}
<p>Die dargestellte Aufteilung in eine Nord- und Südzone reflektiert die durchschnittliche Netzengpasssituation. Sie entspricht einer Zonierung, wie sie auch im Rahmen des ENTSO-E Bidding Zone Reviews untersucht wird.</p>
{% include "snippets/divider.html" %}
<a href="https://future-energy-lab.de/projects/eco-zone/" class="btn btn-primary">Mehr Infos bei Future Energy Lab</a>
<a href="/api/docs" class="btn btn-secondary">API ansehen</a>
{% endblock %}
