{% extends "_base.html" %}

{% block content %}
<div class="col-lg-8 px-0">
  <h1>Handlungsempfehlungen</h1>
  <p class="fs-5"></p>
</div>
{% include "snippets/divider.html" %}
<h2>Empfehlungen zu regulatorischen und gesetzlichen Rahmenbedingungen</h2>
<ul>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
</ul>
{% include "snippets/divider.html" %}
<h2>Empfehlungen an private Akteure</h2>
<ul>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
  <li>Dieser Inhalt muss als Text und nicht als Bild bereitgestellt werden.</li>
</ul>
{% endblock %}
